<!DOCTYPE html>
<html lang="en">
<head>
    <title>About page</title>
    <link rel="icon" href="/img/weather.png">    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <div class="mainContent">
        {{>header}}
        <p>This site was created by Girish Soman. It uses data from WeatherStack and Mapbox</p>

        <img class="portrait" src="img/giri.jpg" alt="">

    </div>
      
    

    {{>footer}}
</body>
</html>